project_id = "qmeneridwgiavindzoht"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[studio]
enabled = true
port = 54323

[edge_runtime]
enabled = true
inspector_port = 8083

[auth]
enabled = true
port = 54324
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600

[auth.email]
enable_signup = true

[storage]
enabled = true
port = 54325
file_size_limit = "50MiB"

[realtime]
enabled = true
port = 54326

[analytics]
enabled = false

[functions.process-receipt-ocr]
verify_jwt = true